body{
    margin: 0;
    padding: 0;
    background: url(S.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.marco{
	position: absolute;
	top: 210px;
	left: 496px;
	width: 350px;
	height: 420px;
	background: red;
	animation-name: marcopolo;
	animation-duration: 4s; 
	animation-iteration-count: infinite;
	z-index: 1; 
	border-radius: 200px;
}
@keyframes marcopolo {
	0% {background-color: red;}
	25% {background-color: orange;}
	50% {background-color: yellow;}
	100% {background-color: purple;}
}
.cara{
	position: absolute;
	top: 220px;
	left: 520px;
	width: 300px;
	height: 400px;
	background: url(aim2.png);
	background-size: cover;
	z-index: 2;
	border-radius: 300px;
}
.marco2{
	position: absolute;
	top: 0px;
	left: 1px;
	width: 50px;
	height: 1200px;
	background: red;
	animation-name: marcopolo;
	animation-duration: 4s; 
	animation-iteration-count: infinite;
	z-index: 1; 
}
.marco3{
	position: absolute;
	top: 0px;
	left: 1px;
	width: 1305px;
	height: 25px;
	background: red;
	animation-name: marcopolo;
	animation-duration: 4s; 
	animation-iteration-count: infinite;
	z-index: 1; 
}
.marco4{
	position: absolute;
	top: 0px;
	left: 1305px;
	width: 50px;
	height: 1200px;
	background: red;
	animation-name: marcopolo;
	animation-duration: 4s; 
	animation-iteration-count: infinite;
	z-index: 1; 
}
